

<% if (checkUrl('login') === true) { %><%- include('../../public/js/auth/login'); -%><% } %>
<% if (checkUrl('register') === true) { %><%- include('../../public/js/auth/login'); -%><% } %>
<% if (checkUrl('profiles') === true) { %><%- include('../../public/js/profiles/profile'); -%><% } %>
<% if (checkUrlInclude('create/project') === true) { %><%- include('../../public/js/projects/create'); -%><% } %>
<% if (checkUrlInclude('edit/project') === true) { %><%- include('../../public/js/projects/edit'); -%><% } %>
<% if (checkUrl('projects') === true) { %><%- include('../../public/js/projects/projects'); -%><% } %>

    </body>
</html>