<header id="header" class="header"></header>

<div class="uk-container">
    <div uk-grid>
        <div class="uk-width-1-6@s uk-width-1-4@m">
            <nav class="uk-navbar-container" id="menu" uk-navbar>
                <div class="login-logo uk-margin-bottom">
                    <img src="/img/cms-logo.svg" alt="Logo of KRUK CMS" class="logo" />
                    <img src="/img/cms-logo-small.svg" alt="Logo of KRUK CMS" class="logo-small" />
                </div>
                <div class="uk-navbar-left uk-flex uk-flex-wrap-between uk-height-1-1">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="/<%- lang %>/">
                                <% if (checkUrl('') === true) { %><span class="circle-url"></span><% } %>
                                <span class="material-symbols-outlined">dashboard</span> <span class="uk-menu-text">START</span></a>
                        </li>
                        <li>
                            <a href="/<%- lang %>/projects">
                                <% if (checkUrl('projects') === true) { %><span class="circle-url"></span><% } %>
                                <span class="material-symbols-outlined">perm_media</span> <span class="uk-menu-text"><%= __('navbar.projects') %></span>
                            </a>
                            <div class="uk-navbar-dropdown" uk-dropdown="pos: right-top">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="/<%- lang %>/create/project"><span class="material-symbols-outlined">add</span> <%= __('navbar.projectsAdd') %></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/<%- lang %>/profiles">
                                <% if (checkUrl('profiles') === true) { %><span class="circle-url"></span><% } %>
                                <span class="material-symbols-outlined">group</span> <span class="uk-menu-text"><%= __('navbar.users') %></span>
                            </a>
                            <div class="uk-navbar-dropdown" uk-dropdown="pos: right-top">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a href="/<%- lang %>/auth/register">
                                            <span class="material-symbols-outlined">person_add</span> <%= __('navbar.register') %>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- <li>
                            <a href="/<%- lang %>/help">
                                <% if (checkUrl('help') === true) { %><span class="circle-url"></span><% } %>
                                <span class="material-symbols-outlined">help</span> <%= __('navbar.help') %>
                            </a>
                        </li> -->
                    </ul>
                    <ul class="uk-navbar-nav">
                        <li><a href="/<%- lang %>/auth/logout"><span class="material-symbols-outlined">logout</span> <span class="uk-menu-text"><%= __('navbar.logout') %></span></a></li>
                    </ul>
                </div>
            </nav>
            <footer class="uk-flex uk-flex-around uk-margin-small-top footer">
                 <span style="color: #8C8780;">Version: 0.1</span><span style="color: #8C8780;">2022 © Kruk</span>
            </footer>  
        </div>
        <div class="uk-width-6-6 uk-width-5-6@s uk-width-3-4@m uk-position-relative">
            <div class="lang-box">
                <button class="uk-button uk-button-small uk-button-dropdown" type="button"><span class="material-symbols-outlined">language</span><%- lang %></button>
                <div class="uk-navbar-dropdown" uk-dropdown="animation: uk-animation-slide-top-small; animate-out: true">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="<%= changeLanguage("en") %>"><%= __('navbar.english') %></a></li>
                        <li><a href="<%= changeLanguage("pl") %>"><%= __('navbar.polish') %></a></li>
                    </ul>
                </div>
            </div>
            <div class="menu-box">
                <button class="uk-button uk-button-small uk-button-dropdown" type="button"><span class="material-symbols-outlined">widgets</span> MENU</button>
                <div class="uk-navbar-dropdown dropdown-full" uk-dropdown="animation: uk-animation-slide-top-small; animate-out: true">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/<%- lang %>/">START</a></li>
                        <li><a href="/<%- lang %>/projects"><%= __('navbar.projects') %></a></li>
                        <li class="dropdown-second"><a href="/<%- lang %>/create/project"><%= __('navbar.projectsAdd') %></a></li>
                        <li><a href="/<%- lang %>/profiles"><%= __('navbar.users') %></a></li>
                        <li class="dropdown-second"><a href="/<%- lang %>/auth/register"><%= __('navbar.register') %></a></li>
                    </ul>
                </div>
            </div>
            <%- defineContent('content') %>
        </div>
    </div>
</div>