<%- contentFor('content') %>

<div class="uk-container uk-container-xsmall">
    <h3 class="uk-margin-medium-top"><%= __('navbar.projectsAdd') %></h3>
        <div id="alert-form" class="uk-alert-danger uk-margin-top uk-alert-hide" uk-alert>
            <div class="alert-icon alert-icon-danger"><span class="material-symbols-outlined">error</span></div>
            <p><%= __('form.error') %></p>
        </div>
        <form method="POST" id="form" enctype="multipart/form-data">
            <div class="uk-card-box uk-margin-top">
                <div class="block">
                    <label>
                        <span class="uk-form-label"><%= __('form.title') %></span>
                        <!-- Using form state modifers, the classes can be identical for every input -->
                        <input value="<%= form.title %>" type="text" placeholder="<%= __('form.title') %>..." name="title" class="uk-input alert-title"/>
                        <div id="alert-title" class="uk-alert-danger uk-margin-remove-top uk-alert-hide" uk-alert></div>
                    </label>
                </div>
                <div class="block uk-margin-top">
                    <label>
                        <span class="uk-form-label"><%= __('form.slug') %></span>
                        <!-- Using form state modifers, the classes can be identical for every input -->
                        <input value="<%= form.slug %>" type="text" placeholder="<%= __('form.slug') %>..." name="slug" class="uk-input alert-slug"/>
                        <div id="alert-slug" class="uk-alert-danger uk-margin-remove-top uk-alert-hide" uk-alert></div>
                    </label>
                </div>
                <div class="block uk-margin-top">
                    <label>
                        <span class="uk-form-label"><%= __('form.client') %></span>
                        <!-- Using form state modifers, the classes can be identical for every input -->
                        <input value="<%= form.client %>" type="text" placeholder="<%= __('form.client') %>..." name="client" class="uk-input alert-client"/>
                        <div id="alert-client" class="uk-alert-danger uk-margin-remove-top uk-alert-hide" uk-alert></div>
       
                    </label>
                </div>
                <div class="block uk-margin-top">
                    <label>
                        <span class="uk-form-label"><%= __('form.description') %></span>
                        <!-- Using form state modifers, the classes can be identical for every input -->
                        <textarea value="<%= form.description %>" rows="5" type="textarea" placeholder="Opis projektu" name="description" class="uk-input alert-description"></textarea>
                        <div id="alert-description" class="uk-alert-danger uk-margin-remove-top uk-margin-remove-bottom uk-alert-hide" uk-alert></div>
                    </label>
                </div>
            </div>
            <div class="uk-card-box uk-margin-top">
                <div class="block">
                    <label>
                        <span class="uk-form-label"><%= __('form.tools') %></span>
                        <!-- Using form state modifers, the classes can be identical for every input -->
                        <div class="uk-flex uk-flex-row">
                            <input id="skillsInput" type="text" placeholder="<%= __('form.tools') %>..." name="skillsInput" class="uk-input alert-tools" />
                            <button type="button" class="uk-button uk-button-secondary uk-margin-left" id="skillsButton">
                                DODAJ
                            </button>
                        </div>
                        <div class="uk-flex uk-margin-small-top uk-badges-container">
                        </div>
                        <div id="alert-tools" class="uk-alert-danger uk-margin-remove-top uk-margin-remove-bottom uk-alert-hide" uk-alert></div>
                    </label>
                </div>
                <!-- INPUT FOR TOOLS DATA -->
                <input id="toolsInput" type="hidden" name="tools" />
            </div>
            <div class="uk-card-box uk-margin-top">
                <div class="js-upload uk-placeholder uk-text-center">
                    <span class="material-symbols-outlined">file_upload</span>
                    <span class="uk-text-middle"><%= __('form.upload') %></span>
                    <div uk-form-custom>
                        <input type="file" name="photos" onchange="filesFromInput()" id="photos" accept="image/*" multiple>
                        <span class="uk-link"><%= __('form.uploadSelect') %></span>
                    </div>
                </div>

                <div id="alert-files" class="uk-alert-danger uk-margin-remove-top uk-margin-remove-bottom uk-alert-hide" uk-alert></div>
                
                <progress id="js-progressbar" class="uk-progress" value="0" max="100" accept="image/*" hidden></progress>
                <div id="preview" class="images-preview" uk-sortable="handle: .image-handler; threshold: 1; animation: false"></div>
            </div>
            <button type="submit" class="uk-button uk-button-primary uk-margin-medium-bottom uk-margin-top" id="projectButton">
                <%= __('navbar.projectsAdd') %>
                <div class="spinner" uk-spinner></div>
            </button>
        </form>    
</div>