
<div class="container m-auto">
    <div class="py-10 flex flex-row">
        <% users.forEach((e) => { %>
            <a href="/profile/<%- e.id %>">
                <div class="px-5 py-2 rounded-full border-slate-700 border-2 mr-3 hover:border-3 hover:border-cyan-400 <%- parseInt(details.id) === e.id && 'border-cyan-400' %>">
                    <p><%- e.name %> <span class="text-cyan-400">id: <%- e.id %></span></p>
                </div>
            </a>
        <% }) %>
    </div>
    <div class="p-5 bg-slate-700 rounded">
        <% if (typeof data !== "undefined") { %>
            <h1 class="text-5xl">Profile of: <%= data.name %></h1>
            <% if (details.mode === "details") { %>
                <p>Details: <%= data.email %></p>
            <% } else { %>
                <a href="/profile/<%- data.id %>/details">Szczegóły profilu</a>
            <% } %>
        <% } else { %>
            <h1>No one</h1>
        <% } %>
    </div>
</div>



