
<header id="header" class="header"></header>

<div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
    <div class="uk-container-xsmall uk-text-center">
        <div class="uk-flex uk-flex-center">
            <div class="box-icon box-icon-white">
                <span class="material-symbols-outlined">warning</span>
            </div>
        </div>
        <h4><%= __('404.info') %></h4>
        <div class="uk-margin-top uk-flex uk-flex-center">
            <a href="/<%- lang %>/" class="uk-button uk-button-small uk-button-border" type="button"><%= __('404.back') %></a>
            <a href="/<%- lang %>/help" class="uk-button uk-button-small uk-button-secondary uk-margin-small-left" type="button"><%= __('404.contact') %></a>
        </div>
    </div>  
</div>

    
