<%- contentFor('content') %>

<div class="uk-container uk-container-xsmall uk-margin-top">

    <% if (errors) { %>
        <div class="uk-alert-danger" uk-alert>
            <div class="alert-icon alert-icon-danger"><span class="material-symbols-outlined">error</span></div>
            <p><%= __('form.error') %></p>
        </div>
    <% } %>
    <div class="uk-card-box">
        <form method="POST">
            <h3><%= __('profiles.editUser') %></h3>
            <div class="block uk-margin-top">
                <label>
                    <span class="uk-form-label"><%= __('form.name') %></span>
                    <!-- Using form state modifers, the classes can be identical for every input -->
                    <input value="<%= form.name %>" type="text" placeholder="<%= __('form.name') %>..." name="name" class="uk-input <% if (errors?.name) { %> uk-input-danger <% } %>"/>
                    <% if (errors?.name) { %>
                        <div class="uk-alert-danger uk-margin-remove-top" uk-alert>
                            <p><%= __(errors?.name.message) %></p>
                        </div>
                    <% } %>
                </label>
            </div>
            <div class="block uk-margin-top">
                <label>
                    <span class="uk-form-label"><%= __('form.slug') %></span>
                    <!-- Using form state modifers, the classes can be identical for every input -->
                    <input value="<%= form.slug %>" type="text" placeholder="<%= __('form.slug') %>..." name="slug" class="uk-input <% if (errors?.slug) { %> uk-input-danger <% } %>"/>
                    <% if (errors?.slug) { %>
                        <div class="uk-alert-danger uk-margin-remove-top" uk-alert>
                            <p><%= __(errors?.slug.message) %></p>
                        </div>
                    <% } %>
                </label>
            </div>
            <div class="block uk-margin-top">
                <label>
                    <span class="uk-form-label"><%= __('form.email') %></span>
                    <!-- Using form state modifers, the classes can be identical for every input -->
                    <input value="<%= form.email %>" type="email" placeholder="email@gmail.com" name="email" class="uk-input <% if (errors?.email) { %> uk-input-danger <% } %>" />
                    <% if (errors?.email) { %>
                        <div class="uk-alert-danger uk-margin-remove-top" uk-alert>
                            <p><%= __(errors?.email.message) %></p>
                        </div>
                    <% } %>
                </label>
            </div>
            <div class="uk-flex uk-flex-middle uk-margin-top">
                <button type="submit" class="uk-button uk-button-primary">
                    <%= __('profiles.editUser') %>
                </button>
                <a href="#confirm-modal" class="uk-button uk-button-default uk-margin-small-left uk-flex" uk-toggle><%= __('profiles.deleteUser') %></a>
            </div>
        </form>
    </div>

</div>

<div id="confirm-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Czy napewno chcesz usunąć uzytkownika?</h2>
        <div class="uk-flex uk-flex-middle uk-margin-top"></div>
            <a href="/<%- lang %>/delete/profile/<%= form.slug %>" class="uk-button uk-button-small uk-button-primary uk-flex"><%= __('profiles.delete') %></a>
            <button class="uk-button uk-button-small uk-button-default uk-modal-close uk-margin-small-left" type="button">Cancel</button>
        </div>
    </div>
</div>