<%- contentFor('content') %>

<form method="GET">
    <div class="uk-container uk-margin-top">
        <div class="uk-card-box uk-margin-bottom">
            <div uk-grid>
                <div class="uk-width-1-2@s">
                    <%- include('../search', { type: 'profiles' }) %>
                </div>
                <div class="uk-width-1-2@s">
                    <label for="sort" class="uk-form-label"><%= __('profiles.sort') %></label>
                    <div class="uk-form-controls">
                        <select name="sort" id="sort" class="uk-select">
                            <option value=""><%= __('profiles.sortBy.default') %></option>
                            <option value="name|asc" <%- query.sort === 'name|asc' ? 'selected' : '' %>>A-z</option>
                            <option value="name|desc" <%- query.sort === 'name|desc' ? 'selected' : '' %>>Z-a</option>
                            <option value="createdAt|asc" <%- query.sort === 'createdAt|asc' ? 'selected' : '' %>><%= __('profiles.sortBy.desc') %></option>
                            <option value="createdAt|desc" <%- query.sort === 'createdAt|desc' ? 'selected' : '' %>><%= __('profiles.sortBy.asc') %></option>
                        </select>
                    </div>
                </div>
            </div>   
            <button type="submit" class="uk-button uk-button-primary uk-margin-small-top" id="filter-submit">
                <%= __('profiles.apply') %>
            </button>           
        </div>
        <% if (users.length === 0) { %>
            <div class="uk-alert-danger" uk-alert>
                <div class="alert-icon alert-icon-danger"><span class="material-symbols-outlined">error</span></div>
                <p><%= __('profiles.userSearchError') %>.</p>
            </div>
        <% } %>
        <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
            <% users.forEach((e) => { %>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-card-hover uk-flex uk-flex-between uk-flex-middle user-box" data-id="<%- e.id %>">
                        <div>
                            <h5 class="uk-margin-remove-bottom"><%- e.name %></h5>
                            <p class="uk-text-small uk-margin-remove uk-card-calendar"><%- new Date(e.createdAt).toLocaleString((lang === 'pl') ? 'pl-PL' : 'en-US', { hour: 'numeric', minute: 'numeric', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}); %></p>
                        </div>
                        <div class="uk-flex uk-flex-middle" id="project-data">
                            <a href="#" class="uk-button uk-button-small uk-button-secondary uk-flex btn-details" uk-toggle="target: #user-modal" id="btn-details" data-id="<%- e.id %>"><%= __('profiles.details') %></a>
                            <a href="/<%- lang %>/edit/profile/<%- e.slug %>" class="uk-button uk-button-small uk-button-default uk-margin-small-left uk-flex"><%= __('profiles.edit') %></a>
                        </div>
                        <!-- <a href="/delete/profile/<%- e.slug %>" class="uk-button uk-button-danger uk-margin-small-top uk-flex" onclick="return confirm('are you sure?')"">Delete</a> -->
                    </div>
                </div>
            <% }) %>
        </div>
        <% if (pagesCount > 1) { %>
            <ul class="uk-pagination uk-margin-top uk-margin-large-bottom" uk-margin>
                <li><a href="#" id="li-previous" data-page="previous"><span uk-pagination-previous></span></a></li>
                <% for (let i=0;i < pagesCount;i++) { %>
                    <li><a href="#" data-page="<%- i+1 %>"><%- i+1 %></a></li>
                <% } %>
                <li><a href="#" id="li-next" data-page="next"><span uk-pagination-next></span></a></li>
            </ul>
        <% } %>
        </div>
    </div>
</form>

<!-- This is the modal -->
<div id="user-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title user-modal-title"></h2>
        <div class="user-modal-text">
            <span class="material-symbols-outlined">alternate_email</span>
            <p class="user-modal-email"></p>
        </div>
        <div class="user-modal-text">
            <span class="material-symbols-outlined">badge</span>
            <p class="user-modal-id"></p>
        </div>
        <div class="user-modal-text">
            <span class="material-symbols-outlined">calendar_month</span>
            <p class="user-modal-date"></p>
        </div>
        <div id="spinner" uk-spinner></div>
        <p class="uk-text-right uk-flex">
            <button class="uk-button uk-button-small uk-button-default uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>

<script>
    document.querySelectorAll('.btn-details').forEach((btn) => {
        btn.addEventListener("click", (e) => {
            const title = document.querySelector('.user-modal-title');
            const user_email = document.querySelector('.user-modal-email');
            const user_id = document.querySelector('.user-modal-id');
            const user_date = document.querySelector('.user-modal-date');
            const boxes = document.querySelectorAll('.user-modal-text');

            $.ajax({  
                url: 'http://localhost:3000/<%- lang %>/profiles',  
                method: 'post',  
                data: {
                    id: btn.getAttribute("data-id")
                },
                dataType: "text",
                beforeSend: function() {
                    $('.user-modal-text').hide();
                    user_email.innerHTML = '';
                    user_id.innerHTML = '';
                    user_date.innerHTML = '';
                    title.innerHTML = '';
                    $('#spinner').show();
                },
                success: function(response){  
                    const data = $.parseJSON(response);
                    const dateTime = new Date(data.createdAt).toLocaleString(('<%- lang %>' === 'pl') ? 'pl-PL' : 'en-US', { hour: 'numeric', minute: 'numeric', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'});
                    setTimeout(() => {
                        $('.user-modal-text').show();
                        $('#spinner').hide();
                        user_email.innerHTML = data.email;
                        user_id.innerHTML = data._id;
                        user_date.innerHTML = dateTime;
                        title.innerHTML = data.name;
                    }, 1000)
                },  
                error: function(xhr, status, error){  
                    const err = JSON.parse(xhr.responseText)
                    console.log(err)
                }  
            });
        })
    })
</script>

<script>
    const urlScope = new URLSearchParams(window.location.search);
    document.querySelector('#filter-submit').addEventListener("click", function(e) {
        if (urlScope.get('q').length === 0 && urlScope.get('sort').length === 0) {
            if (document.querySelector('#sort').value.length === 0 && document.querySelector('#search').value.length === 0) {
                e.preventDefault();
            }
        }
    })
</script>

<script>
    const url = new URLSearchParams(window.location.search);
    let currentPage = 1;

    if (url.get('page')) {
        currentPage = parseInt(url.get('page'));
    } else {
        currentPage = 1;
    }

    if (currentPage == 1) {
        document.getElementById('li-previous').style.display = "none";
    }
    if (currentPage == parseInt(Math.ceil('<%= pagesCount %>'))) {
        document.getElementById('li-next').style.display = "none";      
    }
    
    const changePage = e => {
        e.preventDefault();
        let page = e.target.dataset.page;

        if (page === 'next') {
            page = currentPage + 1;
            url.set('page', page)
        } else { url.set('page', page) }
        if (page === 'previous') {
            page = currentPage - 1;
            url.set('page', page)
        } else { url.set('page', page) }

        window.location.href = window.location.origin + window.location.pathname + '?' + url.toString();
    }

    document.querySelectorAll('.uk-pagination a').forEach(a => {
        a.addEventListener("click", changePage);
    })
</script>